<div class="row">
<div class="col">

<div class="btn-group">
<div class="btn btn-outline-secondary disabled mb-2" v-if="menuitem===null"><i class="fa fa-bars"></i></div>
<a class="btn btn-outline-secondary mb-2" href="/profile" v-else><i class="fa fa-bars"></i></a>
</div>

<a class="btn btn-outline-secondary mb-2" href="/profile/favorite">Избранное</a>

<a class="btn btn-outline-secondary mb-2" href="/profile/passwd">Сменить пароль</a>
<a class="btn btn-outline-secondary mb-2" href="/profile/pages">Ваши документы</a>
<a class="btn btn-outline-secondary mb-2" href="/notes">Ваши заметки</a>

</div>
</div>
<hr />
