{% include '/private/domains/note/add.js' %}
{% include '/private/domains/note/edit.js' %}
{% include '/private/domains/note/note.js' %}
{% include '/private/domains/note/notes.js' %}
{% include '/private/domains/note/source.js' %}

Object.assign(
    routes,
    {
        "/note/add": layout_decorator(NoteAdd),
        "/note/:id/edit": layout_decorator(NoteEdit),
        "/note/:id/source": layout_decorator(NoteSource),
        "/note/:id": layout_decorator(Note),
        "/notes": layout_decorator(Notes),
        "/notes/:page": layout_decorator(Notes),
    }
);
