{% extends "/public/skeleton.html" %}
{% block content %}

<a href="/pages">Назад</a>
<h1>{{ pagedata['page'].title }}</h1>
<hr />

<p>
{% for tagLink in pagedata['page'].tags %}
<a href="/tag/{{ tagLink.tag.id }}">{{ tagLink.tag.name }}</a>;
{% endfor %}
</p>

{{ pagedata['page'].body|safe }}

{% endblock %}

{% block breadcrumb %}
<ul>
    <li><a href="/">Домой</a></li>
    <li><a href="/pages">Список статей</a></li>
    <li>{{ pagedata['page'].title }}</li>
</ul>
{% endblock %}
