<div class="row">
<div class="col py-2">

<a class="btn btn-outline-secondary" href="/"><i class="fa fa-home"></i></a>
<a class="btn btn-outline-secondary border-0" href="/pages">Статьи</a>
<a class="btn btn-outline-secondary border-0" href="/tags">Метки</a>
<a class="btn btn-outline-secondary border-0" href="/users">Пользователи</a>

<div class="btn-group float-end">
    <a class="btn btn-outline-secondary" href="/profile"><i class="fa fa-user"></i></a>
    <a class="btn btn-outline-danger" href="/logout"><i class="fa fa-sign-out"></i></a>
</div>

</div>
</div>
