<!DOCTYPE html>
<html lang="ru">
{% include 'header.html' %}
<body>

<section id="app" class="container"></section>

<script type="text/javascript" src="{{ STATIC }}/tinymce/tinymce.min.js"></script>

<script type="text/javascript" src="{{ STATIC }}/codemirror/codemirror.js"></script>

<script type="text/javascript" src="/app.js"></script>
</body>
</html>
