{% include '/public/domains/user/user.js' %}
{% include '/public/domains/user/users.js' %}

Object.assign(
    routes,
    {
        "/user/:id": layout_decorator(User),
        "/users": layout_decorator(Users),
        "/users/:page": layout_decorator(Users),
    }
);
