{% extends "/private/skeleton.html" %}
{% block content %}

{% raw %}
<h3>
<a class="btn btn-outline-secondary" href="/users"><i class="fa fa-chevron-left"></i></a>
{{ user.name }}</h3>
<hr />
{% endraw %}

{% include 'user_menu.html' %}
{% raw %}

Зарегистрирован: {{ user.created }}

{% endraw %}


{% endblock %}

{% block breadcrumb %}
{% raw %}
<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
    <li class="breadcrumb-item"><a href="/user">Список пользователей</a></li>
    <li class="breadcrumb-item">{{ user.name }}</li>
</ol>
{% endraw %}
{% endblock %}

{% block script %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: {
        menuitem: null,
        user: {{ pagedata['user']|tojson|safe }},
    },
    methods: {
    },
})
</script>
{% endblock %}
