<div class="row">
<div class="col">

<div class="btn btn-primary mb-2" v-if="menuitem===null"><i class="fa fa-bars"></i></div>
<a class="btn btn-outline-secondary mb-2" :href="'/user/' + user.id" v-else><i class="fa fa-bars"></i></a>


<div class="btn btn-primary mb-2" v-if="menuitem==='pages'">Статьи</div>
<a class="btn btn-outline-secondary mb-2" :href="'/user/' + user.id + '/pages'" v-else>Статьи</a>

</div>
</div>
<hr />
