{% include '/public/domains/auth/login.js' %}
{% include '/public/domains/auth/register.js' %}

Object.assign(
    routes,
    {
        "/login": layout_decorator(Login),
        "/register": layout_decorator(Register),
    }
);
