{% extends "/public/skeleton.html" %}
{% block content %}

<h1>{{ pagedata['info'] }}</h1>
<hr />
<p>Самурай без меча подобен самураю с мечом, но только без меча, однако как-будто с мечом, которого у него нет, но и без него он как с ним...</p>

{% endblock %}
