{% include '/private/domains/favorite/favorite.js' %}
{% include '/private/domains/favorite/menu.js' %}
{% include '/private/domains/favorite/notes.js' %}
{% include '/private/domains/favorite/pages.js' %}

Object.assign(
    routes,
    {
        "/favorite": layout_decorator(Favorite),
        "/favorite/notes": layout_decorator(FavoriteNotes),
        "/favorite/notes/:page": layout_decorator(FavoriteNotes),
        "/favorite/pages": layout_decorator(FavoritePages),
        "/favorite/pages/:page": layout_decorator(FavoritePages),
    }
);
