{% extends "/public/skeleton.html" %}
{% block content %}

<h3>Список пользователей</h3>
<hr />

{% include 'pagination-curl.html' %}

{% include '/inc/users.html' %}

{% include 'pagination-curl.html' %}

{% endblock %}

{% block breadcrumb %}
<ul>
    <li><a href="/">Домой</a></li>
    <li>Список пользователей</li>
</ol>
{% endblock %}
