{% extends "/public/skeleton.html" %}
{% block content %}

<a href="/users">Назад</a>
<h1>{{ pagedata['user'].name }}</h1>
<hr />

{% include 'guest/user_menu.html' %}

{% include 'pagination-curl.html' %}

{% include 'inc/pages.html' %}

{% include 'pagination-curl.html' %}

{% endblock %}

{% block breadcrumb %}
<ol>
    <li><a href="/">Домой</a></li>
    <li><a href="/user">Список пользователей</a></li>
    <li>{{ pagedata['user'].name }}</li>
</ol>
{% endblock %}
