{% raw %}
<div class="row" v-for="(note, noteIdx) in notes">
<div class="col py-2" :class="{'bg-light': noteIdx % 2}">

<a :href="'/note/' + note.id" v-html="note.title"></a>

<div class="row">
<div class="col small text-muted">
<span v-for="(tag, tagIdx) in note.tags">
<i class="fa fa-tag"></i> <a class="text-monospace" :href="'/tag/' + tag.id">{{ tag.name }}</a>&nbsp;
</span>
</div>
</div>

<div class="row">
<div class="col text-muted">
<small>
Создано: {{ note.created }}&nbsp;
Обновлено: {{ note.updated }}
</small>
</div>
</div>

</div>
</div>
{% endraw %}
