<table border="1" cellpadding="1" width="100%">
{% for page in pagedata['pages'] %}
<tr>
<td>
<p><a href="/page/{{ page.id }}">{{ page.title }}</a></p>

<p>{% for tagLink in page.tags %}
<a href="/tag/{{ tagLink.tag.id }}">{{ tagLink.tag.name }}</a>
{% endfor %}</p>

</td>
</tr>
{% endfor %}
</table>
