<table border="1" cellpadding="1" width="100%">
{% for user in pagedata['users'] %}
<tr>
<td>
<p><a href="/user/{{ user.id }}">{{ user.name }}</a></p>

<p>{% for tagLink in user.tags %}
<a href="/tag/{{ tagLink.tag.id }}">{{ tagLink.tag.name }}</a>
{% endfor %}</p>

</td>
</tr>
{% endfor %}
</table>
