.scrollToTop{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    opacity: 0.3;
    display: inline;
}
.scrollToTop:hover{
    text-decoration: none;
    opacity: 1.0;
}
.scrollToTop .card{
    margin-bottom: 0;
    border-color: #7ca8b1;
}
