{% include '/public/domains/tag/menu.js' %}
{% include '/public/domains/tag/pages.js' %}
{% include '/public/domains/tag/tag.js' %}
{% include '/public/domains/tag/tags.js' %}

Object.assign(
    routes,
    {
        "/tag/:id": layout_decorator(Tag),
        "/tag/:id/pages": layout_decorator(TagPages),
        "/tag/:id/pages/:page": layout_decorator(TagPages),
        "/tags": layout_decorator(Tags),
    }
);
