<!DOCTYPE html>
<html lang="ru">
{% include 'header.html' %}
<body>

<section id="app" class="container">
{% include '/public/navbar.html' %}

{% block content %}
{% endblock content %}

{% block breadcrumb %}
{% endblock %}

{% include 'footer.html' %}
</section>

<script type="text/javascript" src="/app.js"></script>
</body>
</html>
