{% include '/public/domains/auth/inc.j2' %}
{% include '/public/domains/page/inc.j2' %}
{% include '/public/domains/tag/inc.j2' %}
{% include '/public/domains/user/inc.j2' %}
{% include '/public/domains/home.js' %}

Object.assign(
    routes,
    {
        "/": layout_decorator(Home),
    }
);
