{% include '/private/domains/page/add.js' %}
{% include '/private/domains/page/page.js' %}
{% include '/private/domains/page/pages.js' %}

Object.assign(
    routes,
    {
        "/page/add": layout_decorator(PageAdd),
        "/page/:id": layout_decorator(Page),
        "/pages": layout_decorator(Pages),
        "/pages/:page": layout_decorator(Pages),
    }
);
