{% include '/private/domains/tag/edit.js' %}
{% include '/private/domains/tag/menu.js' %}
{% include '/private/domains/tag/notes.js' %}
{% include '/private/domains/tag/pages.js' %}
{% include '/private/domains/tag/tag.js' %}
{% include '/private/domains/tag/tags.js' %}

Object.assign(
    routes,
    {
        "/tag/:id/edit": layout_decorator(TagEdit),
        "/tag/:id/notes": layout_decorator(TagNotes),
        "/tag/:id/notes/:page": layout_decorator(TagNotes),
        "/tag/:id/pages": layout_decorator(TagPages),
        "/tag/:id/pages/:page": layout_decorator(TagPages),
        "/tag/:id": layout_decorator(Tag),
        "/tags": layout_decorator(Tags),
    }
);
