body, td, p {
    color:#000;
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    color:#000;
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
}
code, pre {
    color:#000;
    font-family: 'Liberation Mono';
    font-size: 1rem;
    background-color: #c5c5c5;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.5;
}
