{% if user %}
{% extends "/private/skeleton.html" %}
{% else %}
{% extends "/public/skeleton.html" %}
{% endif %}
{% block content %}

<h3 class="text-danger">{{ error_code }}: {{ error_message }}</h3>
<hr />

<h4 class="text-center">Это фиаско, братан!</h4>
<p class="text-center"><img class="img-thumbnail" src="/static/{{ error_code }}.jpg" /></p>

{% endblock %}
