<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Ремизов Александр" />
    <meta name="copyright" lang="ru" content="RemiZOffAlex" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC }}/css/backtotop.css" />
    <script type="text/javascript" src="{{ STATIC }}/js/mithril.min.js"></script>
    <title>{{ pagedata['title'] }}</title>
<style>
@font-face {
    font-family: "Liberation Sans"; /* Имя шрифта */
    src: url({{ STATIC }}/fonts/liberation/LiberationSans-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Liberation Mono"; /* Имя шрифта */
    src: url({{ STATIC }}/fonts/liberation/LiberationMono-Regular.ttf); /* Путь к файлу со шрифтом */
}
</style>
</head>
