{% if pagedata['pagination'].pages > 1 %}
<table border="1">
<tr>
<td>

{% for item in range(pagedata['pagination'].pages) %}
{% if pagedata['pagination'].current==item+1 %}
<a href="{{ pagedata['pagination'].url }}/{{item+1}}">[{{ item +1}}]</a>
{% else %}
<a href="{{ pagedata['pagination'].url }}/{{item+1}}">{{ item +1}}</a>
{% endif %}
{% endfor %}

</td>
</tr>
</table>
{% endif %}
