{% include '/private/domains/favorite/inc.j2' %}
{% include '/private/domains/note/inc.j2' %}
{% include '/private/domains/page/inc.j2' %}
{% include '/private/domains/profile/inc.j2' %}
{% include '/private/domains/tag/inc.j2' %}
{% include '/private/domains/user/inc.j2' %}
{% include '/private/domains/home.js' %}

Object.assign(
    routes,
    {
        "/": layout_decorator(Home),
    }
);
