{% extends "/public/skeleton.html" %}
{% block content %}

<a href="/tags">Назад</a>
<h1>Тег {{ pagedata['tag'].name }}</h1>
<hr />

{% include 'pagination-curl.html' %}

{% include '/inc/pages.html' %}

{% include 'pagination-curl.html' %}

{% endblock %}

{% block breadcrumb %}
<ul>
    <li><a href="/">Домой</a></li>
    <li><a href="/tags">Список тегов</a></li>
    <li>{{ pagedata['tag'].name }}</li>
</ul>
{% endblock %}
