{% extends "/public/skeleton.html" %}
{% block content %}

<h1>Список тегов</h1>
<hr />

<p>{% for tag in pagedata['tags'] %}
<a href="/tag/{{ tag.id }}">{{ tag.name }}</a> /
{% endfor %}</p>

{% endblock %}

{% block breadcrumb %}
<ol>
    <li><a href="/">Домой</a></li>
    <li>Список тегов</li>
</ol>
{% endblock %}
