<a href="https://github.com/cenobites/flask-jsonrpc">https://github.com/cenobites/flask-jsonrpc</a>

<pre>
curl -i -X POST \
   -H "Content-Type: application/json; indent=4" \
   -d '{
    "jsonrpc": "2.0",
    "method": "users.getList",
    "params": {},
    "id": "1"
}' http://localhost:8000/api
</pre>
